<h1>{{name}}</h1>

<img src="{{imageUrl}}" alt="{{name}}" />

<p>
  {{description}}
</p>
<p>
  Price: {{price}}¢
</p>

<form action="{{baseUrl}}cart/add" method="post">
  <input type="hidden" name="itemId" value="{{id}}" />
  <button type="submit">Add to Cart</button>
</form>
