<h1>Your Order</h1>

<p>
  Thank you for your order. At this time, and for the forseeable future, no financial institution has approved our store for online purchasing. But we'll be happy to fulfill your order the old-fashioned way. Simply print out this page and send a cashier's check or money order to: <br />
  Plasticware<br />
  12345678 SE Main Street NW<br />
  Somewhere, OK  00100-7890<br />
  <br />
  Please allow 4-6 weeks for delivery.
</p>

<hr />

<div>
  Shipping address:<br />
  {{customerName}}<br />

  {{#each addressLines}}
  {{this}}<br />
  {{/each}}
</div>
<br />

<table class="cart">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Item Price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each lineItems}}
    <tr>
      <td>{{name}}</td>
      <td class="number">{{quantity}}</td>
      <td class="number">{{itemPrice}}</td>
      <td class="number">{{linePrice}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>Shipping &amp; Handling</td>
      <td></td>
      <td></td>
      <td class="number">{{shipping}}</td>
    </tr>
    <tr class="total">
      <td>TOTAL</td>
      <td></td>
      <td></td>
      <td class="number">{{total}}</td>
    </tr>
  </tbody>
</table>
