<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plasticware</title>
    <link rel="stylesheet" href="{{baseUrl}}Plastic.css">
  </head>

  <body>
    <header>
      <h1>Plasticware</h1>
      <h2>Dining like nothing really matters</h2>
      <hr />
      <nav>
        <ul>
          <li><a href="{{baseUrl}}">Home</a></li>
          <li><a href="{{baseUrl}}catalog/1">Catalog</a></li>
          <li><a href="{{baseUrl}}cart">Shopping Cart</a></li>
        </ul>
      </nav>
    </header>

    <main>
    {{{body}}}
    </main>

  </body>
</html>
